{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h3>Update ToDo</h3>
    <form action="/update/{{alltodo.s}}" method="POST">
        <div class="mb-3">
            <label for="todo" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" value ="{{alltodo.title}}" id="todo" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control"  value ="{{alltodo.desc}}" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-outline-success ">Submit</button>
    </form>
</div>
{% endblock body %}